#gameContainer {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.food {
  background-color: green;
}

.snakeBodyPixel {
  background-color: red;
}

.scoreBoard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
